<% badgetype = "badge-primary" %>

<% case issue.status.downcase %>
<% when "new" %>
  <% badgetype = "badge-danger" %>
<% when "pending" %>
  <% badgetype = "badge-secondary" %>
<% when "resolved" %>
  <% badgetype = "badge-success" %>
<% end %>

<div class="card mb-3 mt-2", id="issue-<%=issue.id %>">
<div class = "card-body">
  <div class="card-title d-flex flex-column w-100">
    <div class="d-flex w-100 justify-content-between">
      <h5><%= link_to "Case# #{issue.id} : #{issue.issue_type}", issue %></h5>
      <div>
          <%if current_user %>
            <%= render 'issues/issue_dropdown', issue: issue %>
          <% end %>
      </div>
    </div>
    <div>   
      <span class="badge <%= badgetype %>">
        <%= issue.status %>
      </span>
      <small class = "text-muted">Sent by <%= link_to issue.customer.name, issue.customer %> <%= time_ago_in_words(issue.created_at)%> ago.</small>
    </div>
  </div>
  <div class = "d-flex flex-column">
    <div class="card-text mb-2 text-dark text-secondary">
      <%= "Game:  " if params[:controller] == "issues" %>
      <%= issue.title %>
    </div>
    <% if params[:controller] == "issues" %>
      <p class="mb-2 mt-2 lead"><strong>Issue Description:</strong> <%= issue.description %></p>
        <% if current_user && (current_user.admin? || current_user?(issue.customer)) %>
          <%= render 'issues/issue_buttons', issue: issue %>
        <% end %>
    <% end %>
  </div>
</div>
</div>