
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                </button>
                <div class="dropdown-menu">
                        <%= link_to "View", issue, class: "dropdown-item" %>
                            <%= link_to "Escalate", {controller: "issues", action: "escalate", id: issue.id}, class: "dropdown-item" %>
                            <%= link_to "Mark As Resolved", {controller: "issues", action: "resolve", id: issue.id}, class: "dropdown-item" %>
                        <% if current_user?(issue.customer) || current_user.admin? %>
                      <div class="dropdown-divider"></div>
                      <%= link_to "Edit", edit_issue_path(issue), class: "dropdown-item" %>
                      <%= link_to "Delete", issue, method: :delete, data: {confirm: "Are you sure you want to delete this issue?"}, class: "dropdown-item" %>                  
                    <% end %>
                </div>
            </div>
