<h1>
    <%= gravatar_for @customer %>
    <%= @customer.name %>
</h1>
<span><%= @customer.mobile_number %></span>
<span><%= @customer.address %></span>
<% if current_user && current_user?(@customer) %>
    <span><%= link_to "Edit Profile", edit_customer_path(@customer) %></span>
    <%= link_to "Delete Profile", @customer, method: :delete, data: { confirm: "You sure?" } %>  
<% end %>