<div class="profile-card d-flex flex-column align-items-center border rounded p-3">
    <div class="mb-3"><%= gravatar_for @customer %></div>
    <h4><%= @customer.name %></h4>
    <span class="text-dark text-center mb-2"><%= @customer.mobile_number %></span>
    <span class="text-dark text-center mb-2"><%= @customer.email %></span>
    <span class="text-dark text-center mb-2"><%= @customer.address %></span>
    <% if current_user && (current_user.admin? or current_user?(@customer)) %>
    <small>
        <%= link_to "Edit Profile", edit_customer_path(@customer), class: "text-primary btn btn-light" %>
        <%= link_to "Delete Profile", @customer, method: :delete, data: { confirm: "Are you sure? Confirming will permanently delete your profile" }, class: "text-primary btn btn-light" %> 
    </small>
    <% end %>
</div>
