<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= form_with(model: @customer, local: true) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= f.label :name %>
      <%= f.text_field :name, placeholder:"Your Full Name", class:'form-control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, placeholder:"name@example.com", class:'form-control' %>
  
      <%= f.label :address %>
      <%= f.text_area :address, placeholder:"Full Address",  class: 'form-control' %>
      
      <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
