<% provide(:title, @customer.name) %>
<div class = "row">
  <aside class = "col-md-4">
    <section class = "user_info">
      <h1>
      <%= gravatar_for @customer %>
      <%= @customer.name %>
      </h1>
      <% if current_user && (current_user.admin? || current_user?(@customer)) %>
        <p><%= @customer.mobile_number %></p>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @customer.issues.any? %>
      <h3>Case History: <%= @customer.issues.count %> Requests</h3>
        <div class="issues col">
        <%= render @issues %>
        </div>
      <nav class =  'row justify-content-center'>
        <%= will_paginate(@issues, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
      </nav>
      <% end %>
  </div>

</div>